<ion-tabs class="tabs-dark tabs-icon-left">
    <ion-tab id="upperLimbs" title="上肢" icon-on="ion-ios-arrow-right" ng-click="tabCtrl.goto('upperLimbs')">
        <ion-nav-view name="tabContent-upperLimbs"></ion-nav-view>
    </ion-tab>

    <ion-tab id="neck" title="頸部" icon-on="ion-ios-arrow-right" ng-click="tabCtrl.goto('neck')">
        <ion-nav-view name="tabContent-neck"></ion-nav-view>
    </ion-tab>

    <ion-tab id="trunk" title="軀幹" icon-on="ion-ios-arrow-right" ng-click="tabCtrl.goto('trunk')">
        <ion-nav-view name="tabContent-trunk"></ion-nav-view>
    </ion-tab>

    <ion-tab id="lowerLimbs" title="下肢" icon-on="ion-ios-arrow-right" ng-click="tabCtrl.goto('lowerLimbs')">
        <ion-nav-view name="tabContent-lowerLimbs"></ion-nav-view>
    </ion-tab>

    <ion-tab id="selfSetting" title="自訂" icon-on="ion-ios-arrow-right" ng-click="tabCtrl.goto('selfSetting')">
        <ion-nav-view name="tabContent-selfSetting"></ion-nav-view>
    </ion-tab>
</ion-tabs>